html {
  background-color: #B9C8C8;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0px;
}

@media screen and (max-width: 768px) {
  body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
  }
  
}